@font-face {
  src: url('../../vendor/fonts/Roboto-Regular.woff');
  font-family: 'Roboto';
}

@font-face {
  src: url('../../vendor/fonts/RobotoSlab-Regular.woff');
  font-family: 'Roboto-Slab';
}

.page {
  font-family: 'Roboto';
  margin: 0;
}

.background-wrapper {
  background-image: url('../../images/search-section_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
