.search-form {
  position: relative;
  margin: auto;
  display: flex;
}

.search-form__input {
  /* position: relative; */
  /* left: -12px; */
  padding: 0 0 0 24px;
  height: 64px;
  width: calc(40vw - 48px);
  border: none;
  border-radius: 100px;
}

.search-form__button {
  position: relative;
  left: -164px;
  border-radius: 100px;
  height: 64px;
  width: 164px;
  border: none;
  background-color: #2f71e5;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
